<launch>
  <!-- auto convert compressed image to raw -->
  <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/pylon_camera_node_center/image_rect raw out:=/pylon_camera_node_center/image_rect" />  
    <!-- auto convert compressed image to raw -->
  <node name="republish1" type="republish" pkg="image_transport" output="screen" args="compressed in:=/pylon_camera_node_left/image_rect raw out:=/pylon_camera_node_left/image_rect" />  

  <arg name="input/camera_num" default="2"/>
  <arg name="input/image0" default="/pylon_camera_node_center/image_rect"/>
  <arg name="input/camera_info0" default="/pylon_camera_node_center/camera_info"/>
  <arg name="input/image1" default="/pylon_camera_node_left/image_rect"/>
  <arg name="input/camera_info1" default="/pylon_camera_node_left/camera_info"/>
  <arg name="input/image2" default="/image_raw"/>
  <arg name="input/camera_info2" default="/camera_info2"/>
  <arg name="input/image3" default="/image_raw"/>
  <arg name="input/camera_info3" default="/camera_info3"/>
  <arg name="input/image4" default="/image_raw"/>
  <arg name="input/camera_info4" default="/camera_info4"/>
  <arg name="input/image5" default="/image_raw"/>
  <arg name="input/camera_info5" default="/camera_info5"/>
  <arg name="input/image6" default="/image_raw"/>
  <arg name="input/camera_info6" default="/camera_info6"/>
  <arg name="input/image7" default="/image_raw"/>
  <arg name="input/camera_info7" default="/camera_info7"/>

  <!-- for eval variable-->
  <arg name="camera_num" value="$(arg input/camera_num)"/>
  <arg name="process_rate" default="0.5" doc="Processing Frequency." />

  <arg name="label_file" default="$(find tensorrt_yolov8)/models/coco.names" doc="Label file path." />
  <arg name="half_precision" default="true" doc="Use half precision FP16 inference." />
  <arg name="onnx_model_path" default="$(find tensorrt_yolov8)/models/yolov8m.onnx" doc="ONNX model path." />
  
  <node pkg="tensorrt_yolov8" type="tensorrt_yolov8_node" name="tensorrt_yolov8_node_01" output="screen">
    <param name="process_rate" value="$(arg process_rate)"/>
    <param name="half_precision" value="$(arg half_precision)"/>
    <param name="does_support_dynamic_batch_size" value="false"/>
    <param name="max_workspace_size" value="2000000000"/> 
    <param name="onnx_model_path" value="$(arg onnx_model_path)"/>
    <param name="label_file" type="str" value="$(arg label_file)"/>
    <param name="normalize" value="true"/>
    <param name="wanted_class_nums" value="17"/>
    <param name="confidence_threshold" value="0.4"/>
    <param name="nms_threshold" value="0.4"/>

    <remap if="$(eval camera_num >= 1)" from="~input/camera_info0" to="$(arg input/camera_info0)"/>
    <remap if="$(eval camera_num >= 2)" from="~input/camera_info1" to="$(arg input/camera_info1)"/>
    <remap if="$(eval camera_num >= 3)" from="~input/camera_info2" to="$(arg input/camera_info2)"/>
    <remap if="$(eval camera_num >= 4)" from="~input/camera_info3" to="$(arg input/camera_info3)"/>
    <remap if="$(eval camera_num >= 5)" from="~input/camera_info4" to="$(arg input/camera_info4)"/>
    <remap if="$(eval camera_num >= 6)" from="~input/camera_info5" to="$(arg input/camera_info5)"/>
    <remap if="$(eval camera_num >= 7)" from="~input/camera_info6" to="$(arg input/camera_info6)"/>
    <remap if="$(eval camera_num >= 8)" from="~input/camera_info7" to="$(arg input/camera_info7)"/>
    <param name="camera_num" value="$(arg input/camera_num)" />

    <remap if="$(eval camera_num >= 1)" from="~input/image_raw0" to="$(arg input/image0)"/>
    <remap if="$(eval camera_num >= 2)" from="~input/image_raw1" to="$(arg input/image1)"/>
    <remap if="$(eval camera_num >= 3)" from="~input/image_raw2" to="$(arg input/image2)"/>
    <remap if="$(eval camera_num >= 4)" from="~input/image_raw3" to="$(arg input/image3)"/>
    <remap if="$(eval camera_num >= 5)" from="~input/image_raw4" to="$(arg input/image4)"/>
    <remap if="$(eval camera_num >= 6)" from="~input/image_raw5" to="$(arg input/image5)"/>
    <remap if="$(eval camera_num >= 7)" from="~input/image_raw6" to="$(arg input/image6)"/>
    <remap if="$(eval camera_num >= 8)" from="~input/image_raw7" to="$(arg input/image7)"/>


  </node>
</launch>
